# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Compiled class files
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# Cache of project
.gradletasknamecache

# Workaround for IntelliJ IDEA issue
gradle/wrapper/gradle-wrapper.properties